.p-datatable.small{
    .p-datatable-tbody td{
        padding: 0.75rem 1rem;
    }
}

.p-button-sm {
    width: 2rem !important;
    height: 2rem !important;
    padding: 0 !important;
}

*[readonly]{
    cursor:not-allowed;
    background-color: var(--surface-100);
}

