.p-datatable.small{
    .p-datatable-tbody td{
        padding: 0.75rem 1rem;
    }
}

*[readonly]{
    cursor:not-allowed;
    background-color: var(--surface-100);
}

.sticky-tab .p-tabview-nav-container {
    position: sticky;
    top: 0;
    z-index: 5;
    box-shadow: rgb(255, 255, 255) 0px 10px 15px 0px;
}

p-dialog-content{
    position: relative;
}
.modal-plus-btn{
    position: absolute !important;
    top: 75px;
    right: 36px;
    z-index: 6;
}

.h-full-modal{
    .p-dialog-content{
        height: 90dvh;
    }
}
.p-autocomplete-input{
    width: 100%;
}


.p-input-icon-left{
    .p-dropdown{
        background:none;
        padding-left: 2.0rem;
    }
}
