.p-datatable.small{
    .p-datatable-tbody td{
        padding: 0.75rem 1rem;
    }
}

// *[readonly]{
//     cursor:not-allowed;
//     background-color: var(--surface-100);
// }

.sticky-tab .p-tabview-nav-container {
    position: sticky;
    top: 0;
    z-index: 5;
    box-shadow: rgb(255, 255, 255) 0px 10px 15px 0px;
}

p-dialog-content{
    position: relative;
}
.modal-plus-btn{
    position: absolute !important;
    top: 75px;
    right: 36px;
    z-index: 6;
}

.h-full-modal{
    .p-dialog-content{
        height: 90dvh;
    }
}
.p-autocomplete-input{
    width: 100%;
}


.p-input-icon-left{
    .p-dropdown{
        background:none;
        padding-left: 2.0rem;
    }
}

th .p-column-header-content{
    justify-content: center;
}

.custom-hover{
    tr{
        td{

            text-align: center !important;
        }
        &:hover{
            td{
                background-color: #f1f5f9 ;
                color: #000;
            }
            td[class*="bluegray"]{
                background-color: #e9e9e9 !important;
            }
            td[class*="bg-green"]{
                background-color: #9de9d3 !important;
            }
            td[class*="bg-orange"]{
                background-color: #ffd0ae !important;
            }
            td[class*="bg-purple"]{
                background-color: #e5c9ff !important;
            }
        }
        &:focus{
            font-size: 120%;
            transition: 300ms;
            cursor: pointer;
            font-weight: bold;
            outline: 1px dashed #a0a0a0 !important;
            outline-offset:0;
        }

    }
}