.p-badge {
    background: $badgeBg;
    color: $badgeTextColor;
    font-size: $badgeFontSize;
    font-weight: $badgeFontWeight;
    min-width: $badgeMinWidth;
    /* height: $badgeHeight; */
    line-height: $badgeHeight;

    &.p-badge-secondary {
        background-color: $secondaryButtonBg;
        color: $secondaryButtonTextColor;
    }

    &.p-badge-success {
        background: var(--green-100);
        color: var(--green-800);
    }

    &.p-badge-info {
        background: var(--blue-100);
        color: var(--blue-800);
    }

    &.p-badge-warning {
        background: var(--orange-200);
        color: var(--orange-800);
    }

    &.p-badge-danger {
        background: var(--red-100);
        color: var(--red-800);
    }

    &.p-badge-lg {
        font-size: 1.5 * $badgeFontSize;
        min-width: 1.5 * $badgeMinWidth;
        height: 1.5 * $badgeHeight;
        line-height: 1.5 * $badgeHeight;
    }

    &.p-badge-xl {
        font-size: 2 * $badgeFontSize;
        min-width: 2 * $badgeMinWidth;
        height: 2 * $badgeHeight;
        line-height: 2 * $badgeHeight;
    }
}